<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/javascripts/jquery-3.3.1.min.js'></script>
    <script src='/javascripts/index.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
    <div class="overview">
    <div class="devices-container">
      <table id="devices-list">
      </table>
    </div>
    </div>
  </body>
</html>
